
<head>
<%= stylesheet_link_tag "welcome" %>
<%= stylesheet_link_tag "animate" %>
<%= javascript_include_tag "application" %>

  <title>
    WU-TANG RUTH
  </title>
</head>
<!-- Home Page -->
<body>
  <div id = "cover" class="container special">
    <div class = "jumbotron">
      <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12">
          <center> <img class = "animated bounce logo" id = "wutang" src = "https://s3.amazonaws.com/wutangruth/Images/wutangruth.png"></center>
        </div>
      </div>
      <div class = "row">
        <br/>
      </div>
      <div class = "row">
        <div id = "maintext" class = "col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
        <center> <p> Hey I'm <a class = "sliding-middle-out ruth" style = "color: #00E0EF; text-decoration: none;" href = "#aboutjump">Ruth</a> ! I sketch ideas and turn them into reality.<br/>  I can usually be found working on
          <a class = "sliding-middle-out projects" style = "color: #FF9F00; text-decoration: none;" href = "#projectsjump">projects</a>, listening to rock-in-your-seat
          <a class = "sliding-middle-out music " style = "color: #FF3989; text-decoration: none;" href = "#musicjump">music</a>, or teaching myself something new through these
          <a class = "sliding-middle-out resources " style = "color: #7989FF; text-decoration: none;" href = "#resourcesjump">resources</a>.
          <br/> Get the lowdown from my
          <a class = "sliding-middle-out resume " style = "color: #70D507; text-decoration: none;" target="_blank" href = "http://bit.ly/1NA5iM6">resume</a></p></center>
        </div>
      </div>
      <div class = "row">
          <div class = " col-xs-12 col-sm-12 col-md-12 ">
              <ul id  = "social-container">
                <li><a href = "www.google.com"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/mail-icon.png"></a></li>
                <li><a href = "https://www.linkedin.com/wuruth"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/linkedin-icon.png"></a>
                <li><a href = "https://github.com/wuruthie"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/github-icon.png"></a>
              <!--  <li><a href = "https://medium.com/@ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/medium-icon.png"></a> -->
                <li><a href = "https://dribbble.com/ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/dribble-icon.png"></a>
              </ul>
          </div>
    </div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
        <center><span class="glyphicon glyphicon-chevron-down animated bounce carrot" style = "font-size: 2.5em; color:#F26244"></span></center>
      </div>
    </div>
</div>

<!-- Ruth -->
<div id = "cover" class="container special">
  <div class = "jumbotron">
    <a name = "aboutjump"></a>
    <div class = "row">
      <div class = "col-xs-12 col-md-12 col-lg-12">
        <center><img id = "aboutlabel" src = "https://s3.amazonaws.com/wutangruth/labels/about.png"></center>
      </div>
    </div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <center><img id = "ruthphoto" src = "https://s3.amazonaws.com/wutangruth/Images/ruth-circle.png"></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <center><p style = "padding-top: 10px; color: #34DAAB; text-align: center;">hey that's me!</p></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 explain">
          <center><p >I'm from the rainy city of Seattle, WA but currently attend Grinnell College as a junior majoring in <b><em>Computer Science</em></b>.
         I would consider myself a triple-threat-combo of a <b><em>developer</em></b>, <b><em>designer</em></b>, and <b><em>innovator</em></b>. </p>
          <p> What drives me the most is how I can use <b><em>technology</em></b>, <b><em>design</em></b>, and <b><em>outreach</em></b> to create real social change and sustainable human-centered futures.</p>
          <p> After working at a startup last summer, I realized that I enjoy working on small teams to create deliverables that would make a real impact that I can <b><em>see</em></b>.</p>
          <p>Currently I'm seeking an internship for the <b><em>Summer of 2016</b></em> where I can apply my passions and skills and grow even more.</p></center>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div class = "jumbotron">
  <div class = "row">
    <a name = "projectsjump"></a>
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "projectslabel" src = "https://s3.amazonaws.com/wutangruth/labels/projects.png"></center>
    </div>
  </div>
  <div class = "row"></br></div>
  <div class = "row"></br></div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "subletinnphoto" src = "https://s3.amazonaws.com/wutangruth/Images/subletinn-round.png"></center>
      <center><p style = "color: #34DAAB;">Subletinn</center></p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 smallexplain">
      <p>Subletinn is a company that rooms interns and blossoming professionals in houses, effectively creating urban communities of passionate and ambitious individuals.</p>
      <p>I'm in charge of their digital presence, and I molded it through creating the brand, logo, and <a class = "sliding-middle-out currentprojects " style = "color: #34DAAB; text-decoration: none;" target="_blank" href = "https://www.subletinn.com">website</a> to portray the company's mission and image.</p>
      <p>As a minimum viable product, the website has consistently produced a steady stream of revenue each month.
      This is an ongoing project for me, and the website is still in alpha!</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "subletinnphoto" src = "https://s3.amazonaws.com/wutangruth/Images/loggia-round.png"></center>
      <center><p style = "color: #34DAAB;">Loggia</p></center>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 smallexplain">
      <p>Loggia is your way of finding what's happening in your campus through the medium of an app. It looks to bring inclusion to campuses by eliminating the social and distance barriers between you and what you are interested in.</p>
      <p>I designed the UI and UX for the iOS (coming soon!) and <a class = "sliding-middle-out currentprojects " style = "color: #34DAAB; text-decoration: none;" target="_blank" href = "https://play.google.com/store/apps/details?id=com.loggia&hl=en">Android</a> devices.</p>
      <p>Currently, I'm also developing for the iOS version and marketing the app to Grinnell students. </p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "subletinnphoto" src = "https://s3.amazonaws.com/wutangruth/Images/rationality-round.png"></center>
      <center><p style = "color: #34DAAB;">Rationality Hackathon</p></center>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 smallexplain">
      <p>I am in charge of coordinating a hackathon at Grinnell College to award students building mobile apps related to the themes of <a class = "sliding-middle-out currentprojects " style = "color: #34DAAB; text-decoration: none;" target="_blank" href = "http://hpmore.com">Harry Potter and the Methods of Rationality</a>.</p>
      <p>Currently I am in the process of creating the hackathon branding and imagery as well as planning the events and guidelines in addition to handling the budget.</p>
      <p>Check back for more updates, including an events app and outline of the event!</p>
    </div>
  </div>
</div>

<!-- Music -->

<div class = "jumbotron">
  <div class = "row">
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "musiclabel" src = "https://s3.amazonaws.com/wutangruth/labels/music.png"></center>
    </div>
  </div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center>
        <p>When I'm taking a break from work, I'm most likely exploring music and discovering artists that I absolutely <b><em>love</b></em>.
          I'm a huge fan of Afropunk, underground rap, and jazz.</p>
        <p>Check out what I listen to on the regular!</p>
      </center>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <ul id = "social-container">
        <li><a href = "https://open.spotify.com/user/1261827441"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/spotify-icon.png"></a></li>
        <li><a href = "https://www.youtube.com/playlist?list=PLU8tWlFYBLMofR8xGGtNAw18xeBlSWkVh"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/youtube-icon.png"></a></li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><p><b><em>P.S</b></em> I also love singing jazz tunes! Performance links coming soon</p></center>
    </div>
  </div>
  <a name = "musicjump"></a>
</div>
<!-- Resources -->

<div class = "jumbotron">
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row">
      <div class = "col-xs-12 col-md-12 col-lg-12">
        <center><img id = "resourceslabel" src = "https://s3.amazonaws.com/wutangruth/labels/resources.png"></center>
      </div>
    </div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <a name = "resourcesjump"></a>
      <div class = "col-xs-12 col-md-4 col-lg-4">
        <center><p> Learning Libraries</p></center>
        <center><a class = "sliding-middle-out learninglibraries" style = "color: #51DA34; text-decoration: none;" target="_blank" href = "https://www.lynda.com">lynda</a></center>
        <center><a class = "sliding-middle-out learninglibraries" style = "color: #51DA34; text-decoration: none;" target="_blank" href = "https://www.teamtreehouse.com">Treehouse</a></center>
        <center><a class = "sliding-middle-out learninglibraries" style = "color: #51DA34; text-decoration: none;" target="_blank" href = "https://www.youtube.com/user/thenewboston">The New Boston</a></center>
        <center><a class = "sliding-middle-out learninglibraries" style = "color: #51DA34; text-decoration: none;" target="_blank" href = "https://www.khanacademy.org/">Khan Academy</a></center>

        <center><p>Ruby + Ruby on Rails</p>
          <center><a class = "sliding-middle-out ruby" style = "color: #F26244; text-decoration: none;" target="_blank" href = "http://guides.rubyonrails.org/getting_started.html">RailsGuides</a></center>
          <center><a class = "sliding-middle-out ruby" style = "color: #F26244; text-decoration: none;" target="_blank" href = "http://www.theodinproject.com/web-development-101/ruby-basics">The Odin Project</a></center>
          <center><a class = "sliding-middle-out ruby" style = "color: #F26244; text-decoration: none;" target="_blank" href = "http://nithinbekal.com/posts/rails-upgrade-guide/">Rails Upgrade Guide</a></center>
          <center><a class = "sliding-middle-out ruby" style = "color: #F26244; text-decoration: none;" target="_blank" href = "http://railsguides.net/">Rails Tips</a></center>
        </center>

        <center><p>Swift Development</p>
          <center><a class = "sliding-middle-out swift" style = "color: #FF9F00; text-decoration: none;" target="_blank" href = "https://www.airpair.com/swift/building-swift-app-tutorial">air pair</a></center>
          <center><a class = "sliding-middle-out swift" style = "color: #FF9F00; text-decoration: none;" target="_blank" href = "http://www.raywenderlich.com/74438/swift-tutorial-a-quick-start">Ray Wanderlich</a></center>
          <center><a class = "sliding-middle-out swift" style = "color: #FF9F00; text-decoration: none;" target="_blank" href = "http://www.learnswift.tips/">Swift Tips</a></center>
        </center>
      </div>
      <div class = "col-xs-12 col-md-4 col-lg-4">
        <center><p>UX/UI</p></center>
        <center><a class = "sliding-middle-out uiux" style = "color: #8273FF; text-decoration: none;" target="_blank" href = "http://www.smashingmagazine.com/2013/06/sketching-for-better-mobile-experiences/">Why Sketch?</a></center>
        <center><a class = "sliding-middle-out uiux" style = "color: #8273FF; text-decoration: none;" target="_blank" href = "http://pttrns.com">pttrns</a></center>
        <center><a class = "sliding-middle-out uiux" style = "color: #8273FF; text-decoration: none;" target="_blank" href = "https://www.behance.net/search?field=132">behance</a></center>
        <center><a class = "sliding-middle-out uiux" style = "color: #8273FF; text-decoration: none;" target="_blank" href = "http://www.fastcodesign.com/3032719/ui-ux-who-does-what-a-designers-guide-to-the-tech-industry">Designer's Guide to the Industry</a></center>

        <center><p>Web Development</p></center>
        <center><a class = "sliding-middle-out webdev" style = "color: #69ECFF; text-decoration: none;" target="_blank" href = "http://blog.webflow.com/">Webflow Blog</a></center>
        <center><a class = "sliding-middle-out webdev" style = "color: #69ECFF; text-decoration: none;" target="_blank" href = "http://www.siteinspire.com/">Siteinspire</a></center>
        <center><a class = "sliding-middle-out webdev" style = "color: #69ECFF; text-decoration: none;" target="_blank" href = "http://www.awwwards.com/">awwwards</a></center>
        <center><a class = "sliding-middle-out webdev" style = "color: #69ECFF; text-decoration: none;" target="_blank" href = "http://mattkersley.com/responsive/">Responsive Design Testing</a></center>

        <center><p>Fonts + Symbols</p></center>
          <center><a class = "sliding-middle-out fonts" style = "color: #FF85B7; text-decoration: none;" target="_blank" href = "http://www.fontsquirrel.com">Font Squirrel</a></center>
          <center><a class = "sliding-middle-out fonts" style = "color: #FF85B7; text-decoration: none;" target="_blank" href = "https://thenounproject.com/">The Noun Project</a></center>
          <center><a class = "sliding-middle-out fonts" style = "color: #FF85B7; text-decoration: none;" target="_blank" href = "https://fortawesome.github.io/Font-Awesome/">Fort Awesome</a></center>

      </div>
      <div class = "col-xs-12 col-md-4 col-lg-4">
        <center><p>Practice</p>
        <center><a class = "sliding-middle-out practice" style = "color: #00AE5C; text-decoration: none;" target="_blank" href = "https://miafish.wordpress.com/">miafish</a></center>
        <center><a class = "sliding-middle-out practice" style = "color: #00AE5C; text-decoration: none;" target="_blank" href = "https://leetcode.com/">leetcode</a></center>
        <center><a class = "sliding-middle-out practice" style = "color: #00AE5C; text-decoration: none;" target="_blank" href = "http://coderbyte.com/">coderbyte</a></center>
        <center><a class = "sliding-middle-out practice" style = "color: #00AE5C; text-decoration: none;" target="_blank" href = "https://www.interviewcake.com/">interview cake</a></center>
        </center>

        <center><p>Java</p></center>
          <center><a class = "sliding-middle-out java" style = "color: #FF7100; text-decoration: none;" target="_blank" href = "http://www.tutorialspoint.com/java/">TutorialsPoint Java</a></center>
          <center><a class = "sliding-middle-out java" style = "color: #FF7100; text-decoration: none;" target="_blank" href = "http://www.java-tips.org/">Java Tips</a></center>
          <center><a class = "sliding-middle-out java" style = "color: #FF7100; text-decoration: none;" target="_blank" href = "http://www.javacodegeeks.com/">Java Code Geeks</a></center>
          <center><a class = "sliding-middle-out java" style = "color: #FF7100; text-decoration: none;" target="_blank" href = "http://stackoverflow.com/questions/15496/hidden-features-of-java">Java Secrets</a></center>

        <center><p>Life/World Lessons</p></center>
          <center><a class = "sliding-middle-out life" style = "color: #3586FF; text-decoration: none;" target="_blank" href = "https://medium.com/">Medium</a></center>
          <center><a class = "sliding-middle-out life" style = "color: #3586FF; text-decoration: none;" target="_blank" href = "http://www.brainpickings.org">Brain Pickings</a></center>
          <center><a class = "sliding-middle-out life" style = "color: #3586FF; text-decoration: none;" target="_blank" href = "http://www.mic.com">Mic</a></center>
      </div>
    </div>


<!-- bottom social media links -->
      <div class = "row">
          <div class = " col-xs-12 col-sm-12 col-md-12 ">
              <ul id  = "social-container">
                <li><a href = "www.google.com"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/mail-icon.png"></a></li>
                <li><a href = "https://www.linkedin.com/wuruth"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/linkedin-icon.png"></a>
                <li><a href = "https://github.com/wuruthie"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/github-icon.png"></a>
              <!--  <li><a href = "https://medium.com/@ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/medium-icon.png"></a> -->
                <li><a href = "https://dribbble.com/ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/dribble-icon.png"></a>
              </ul>
          </div>
    </div>

</body>
