<%= stylesheet_link_tag "welcome" %>
<%= stylesheet_link_tag "animate" %>

<head>
  <title>
    WU-TANG RUTH
  </title>
</head>
<!-- Home Page -->
<body>
  <div id = "cover" class="container special">
    <div class = "jumbotron">
      <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12">
          <center> <img class = "animated bounce logo" id = "wutang" src = "https://s3.amazonaws.com/wutangruth/Images/wutangruth.png"></center>
        </div>
      </div>
      <div class = "row">
        <br/>
      </div>
      <div class = "row">
        <div id = "maintext" class = "col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
        <center>  <p> Hey I'm <a class = "sliding-middle-out ruth" style = "color: #00E0EF; text-decoration: none;" href = "#ruth">Ruth</a> ! I sketch ideas and turn them into reality.<br/>  I can usually be found working on
          <a class = "sliding-middle-out projects" style = "color: #FF9F00; text-decoration: none;" href = "#projects">projects</a>, listening to rock-in-your-seat
          <a class = "sliding-middle-out music " style = "color: #FF3989; text-decoration: none;" href = "#music">music</a>, or teaching myself something new through these
          <a class = "sliding-middle-out resources " style = "color: #7989FF; text-decoration: none;" href = "#resources">resources</a>.
          <br/> Get the lowdown from my
          <a class = "sliding-middle-out resume " style = "color: #70D507; text-decoration: none;" target="_blank" href = "http://bit.ly/1NA5iM6">resume</a></p></center>
        </div>
      </div>
      <div class = "row">
          <div class = " col-xs-12 col-sm-12 col-md-12 ">
              <ul id  = "social-container">
                <li><a href = "mailto: theruthwu@gmail.com?subject= Hiya!"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/mail-icon.png"></a></li>
                <li><a href = "https://www.linkedin.com/wuruth"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/linkedin-icon.png"></a>
                <li><a href = "https://github.com/wuruthie"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/github-icon.png"></a>
              <!--  <li><a href = "https://medium.com/@ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/medium-icon.png"></a> -->
                <li><a href = "https://dribbble.com/ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/dribble-icon.png"></a>
              </ul>
          </div>
    </div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
        <center><span class="glyphicon glyphicon-chevron-down animated bounce carrot" style = "font-size: 2.5em; color:#F26244"></span></center>
      </div>
    </div>
</div>

<!-- Ruth -->
<div id = "cover" class="container special">
  <div class = "jumbotron">
    <div class = "row">
      <div class = "col-xs-12 col-md-12 col-lg-12">
        <center><img id = "aboutlabel" src = "https://s3.amazonaws.com/wutangruth/labels/about.png"></center>
      </div>
    </div>
    <div class = "row"></br></div>
    <div class = "row"></br></div>
    <a name = "ruth"></a>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <center><img id = "ruthphoto" src = "https://s3.amazonaws.com/wutangruth/Images/ruth-circle.png"></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <center><p style = "padding-top: 10px; color: #34DAAB; text-align: center;">hey that's me!</p></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 explain">
          <center><p >I'm from the rainy city of Seattle, WA but currently attend Grinnell College as a junior majoring in <b><em>Computer Science</em></b>.
         I would consider myself a triple-threat-combo of a <b><em>developer</em></b>, <b><em>designer</em></b>, and <b><em>innovator</em></b>. </p>
          <p> What drives me the most is how I can use <b><em>technology</em></b>, <b><em>design</em></b>, and <b><em>outreach</em></b> to create real social change and sustainable human-centered futures.</p>
          <p> After working at a startup last summer, I realized that I enjoy working on small teams to create deliverables that would make a real impact that I can <b><em>see</em></b>.</p>
          <p>Currently I'm seeking an internship for the <b><em>Summer of 2016</b></em> where I can apply my passions and skills and grow even more.</p></center>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div class = "jumbotron">
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "projectslabel" src = "https://s3.amazonaws.com/wutangruth/labels/projects.png"></center>
    </div>
  </div>
  <div class = "row"></br></div>
  <div class = "row"></br></div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "subletinnphoto" src = "https://s3.amazonaws.com/wutangruth/Images/subletinn-round.png"></center>
      <center><p style = "color: #34DAAB;">Subletinn</center></p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 smallexplain">
      <p>Subletinn is a company that rooms interns and blossoming professionals in houses, effectively creating urban communities of passionate and ambitious individuals.</p>
      <p>I'm in charge of their digital presence, and I molded it through creating the brand, logo, and <a class = "sliding-middle-out projects " style = "color: #34DAAB; text-decoration: none;" target="_blank" href = "https://www.subletinn.com">website</a> to portray the company's mission and image.</p>
      <p>As a minimum viable product, the website has consistently produced a steady stream of revenue each month.
      This is an ongoing project for me, and the website is still in alpha!</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-md-12 col-lg-12">
      <center><img id = "subletinnphoto" src = "https://s3.amazonaws.com/wutangruth/Images/loggia-round.png"></center>
      <center><p style = "color: #34DAAB;">Loggia</p></center>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 smallexplain">
      <p>Loggia is an app that promotes campus inclusion through notifying everyone of events and allowing anyone to create and share events.</p>
      <p>I designed the UI and UX for the iOS (coming soon!) and <a class = "sliding-middle-out projects " style = "color: #34DAAB; text-decoration: none;" target="_blank" href = "https://play.google.com/store/apps/details?id=com.loggia&hl=en">Android</a> devices.</p>
      <p>Currently, I'm also developing for the iOS version and marketing the app to Grinnell students. </p>
    </div>
  </div>
</body>
