<%= stylesheet_link_tag "welcome" %>
<%= stylesheet_link_tag "animate" %>

<head>
  <title>
    WU-TANG RUTH
  </title>
</head>
<!-- Home Page -->
<body>
  <div id = "cover" class="container special">
    <div class = "jumbotron">
      <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12">
          <center> <img class = "animated bounce" id = "wutang" src = "https://s3.amazonaws.com/wutangruth/Images/wutangruth.png"></center>
        </div>
      </div>
      <div class = "row">
        <br/>
      </div>
      <div class = "row">
        <div id = "maintext" class = "col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
        <center>  <p> Hey I'm <a class = "sliding-middle-out ruth" style = "color: #00E0EF; text-decoration: none;" href = "#ruth">Ruth</a> ! I sketch ideas and turn them into reality.<br/>  I can usually be found working on
          <a class = "sliding-middle-out projects" style = "color: #FF9F00; text-decoration: none;" href = "#projects">projects</a>, listening to rock-in-your-seat
          <a class = "sliding-middle-out music " style = "color: #FF3989; text-decoration: none;" href = "#music">music</a>, or teaching myself something new through these
          <a class = "sliding-middle-out resources " style = "color: #7989FF; text-decoration: none;" href = "#resources">resources</a>.
          <br/> Get the lowdown from my
          <a class = "sliding-middle-out resume " style = "color: #70D507; text-decoration: none;" href = "http://bit.ly/1KyOn7c">resume</a></p></center>
        </div>
      </div>
      <div class = "row">
          <div class = " col-xs-12 col-sm-12 col-md-12 ">
              <ul id  = "social-container">
                <li><a href = "mailto: theruthwu@gmail.com?subject= Hiya!"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/mail-icon.png"></a></li>
                <li><a href = "https://www.linkedin.com/wuruth"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/linkedin-icon.png"></a>
                <li><a href = "https://github.com/wuruthie"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/github-icon.png"></a>
              <!--  <li><a href = "https://medium.com/@ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/medium-icon.png"></a> -->
                <li><a href = "https://dribbble.com/ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/dribble-icon.png"></a>
              </ul>
          </div>
    </div>
  </div>
</div>

<!-- Ruth -->
<div id = "cover" class="container special">
  <div class = "jumbotron">
    <a name = "ruth"></a>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <center><img id = "ruthphoto" src = "https://s3.amazonaws.com/wutangruth/Images/ruth-circle.png"></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12">
          <center><p style = "padding-top: 10px; color: #34DAAB; text-align: center;">hey that's me!</p></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-md-offset-2 explain">
          <center><p >I'm from the rainy city of Seattle, WA but currently attend Grinnell College as a junior majoring in <b><em>Computer Science</em></b>.
         I would consider myself a triple-threat-combo of a <b><em>developer</em></b>, <b><em>designer</em></b>, and <b><em>innovator</em></b>. </p>
          <p> What drives me the most is how I can use <b><em>technology</em></b>, <b><em>design</em></b>, and <b><em>outreach</em></b> to create real social change and sustainable human-centered futures.</p>
          <p> For the summer of 2015, I interned at an early stage startup called SubletInn. There, I truly tested my abilities and self-learning skills to deliver a minimum viable product. I found that I was excited
            by the pressure and responsibility placed on me. </p>
          <p>I then realized that I enjoy working on small teams to create deliverables that would make a real impact that I could see.</p>
          <p>Currently, I'm seeking an internship for the <b><em>summer of 2016</b></em> where I can apply my passions and skills and grow even more.</p></center>
      </div>
    </div>
    </div>
  </div>
</body>
