<%= stylesheet_link_tag "welcome" %>
<%= stylesheet_link_tag "animate" %>
<head>
  <title>
    Ruth Wu's personal website
  </title>
</head>
<!-- Home Page -->
  <div id = "cover" class="container special">
    <div class = "jumbotron">
      <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12">
          <center> <img class = "animated bounce" id = "wutang" src = "https://s3.amazonaws.com/wutangruth/Images/wutangruth.png"></center>
        </div>
      </div>
      <div class = "row">
        <br/>
        <br/>
        <br/>
      </div>
      <div class = "row">
        <div id = "maintext" class = "col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
          <p> Hey I'm Ruth! I bring ideas to the table and turn them from sketches to reality.<br/>  I can usually be found doing
          <a class = "sliding-middle-out projects" style = "color: #FF9F00; text-decoration: none;" href = "#projects">projects</a>
          , listening to rock-in-your-seat
          <a class = "sliding-middle-out music" style = "color: #FF3989; text-decoration: none;" href = "#music">music</a>
          , or teaching myself something through these
          <a class = "sliding-middle-out resources" style = "color: #7989FF; text-decoration: none;" href = "#resources">resources</a>
          (|| a combination of the three). <br/> Get the lowdown from my
          <a class = "sliding-middle-out resume" style = "color: #70D507; text-decoration: none;" href = "#resume">resume</a></p>
        </div>
      </div>
      <div class = "row">
          <div class = " col-xs-12 col-sm-12 col-md-12 ">
              <ul id  = "social-container">
                <li><a href = "mailto: theruthwu@gmail.com?subject= Hiya!"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/mail-icon.png"></a></li>
                <li><a href = "https://www.linkedin.com/wuruth"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/linkedin-icon.png"></a>
                <li><a href = "https://github.com/wuruthie"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/github-icon.png"></a>
              <!--  <li><a href = "https://medium.com/@ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/medium-icon.png"></a> -->
                <li><a href = "https://dribbble.com/ruthwu"><img id = "socialicon" src = "https://s3.amazonaws.com/wutangruth/Icons/dribble-icon.png"></a>
              </ul>
          </div>
    </div>
  </div>
</div>
