// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
height:100%; width: 100%;
margin: 0px;
padding: 0;
overflow-x: hidden;
position: fixed;
}

.special,.special .jumbotron {
  height:100%;
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  padding-top: 50px;
  margin-bottom: 0px;
  background-color: white;
  background-size: cover;
}

#social-container {
  list-style-type: none;
  text-align: center;
}

#social-container li {
    display: inline;
    margin-right: 10px;
}
#socialicon {
  max-width: none;
  width: 3em;
}

#wutang {
  max-width: none;
  width: 15em;
}

#maintext {
  text-align: center;
}

#maintext p {
  line-height: 200%;
}
