// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
html,body {
height:100%; width: 100%;
margin: 0px;
padding: 0;
overflow-x: hidden;
position: fixed;
}

.special,.special .jumbotron {
  height:100%;
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  padding-top: 50px;
  margin-bottom: 0px;
  background-color: white;
  background-size: cover;
}

#social-container {
  list-style-type: none;
  text-align: center;
}

#social-container li {
    display: inline;
    margin-right: 10px;
}
#socialicon {
  padding-top: 20px;
  max-width: none;
  width: 3em;
}

#wutang {
  max-width: none;
  width: 17em;
}

#maintext p {
  line-height: 200%;
}

#ruthphoto {

}


.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 0px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.projects.sliding-middle-out:hover:after {
	width: 100%;
	background: #FF9F00 ;
}

.music.sliding-middle-out:hover:after {
	width: 100%;
	background: #FF3989 ;
}

.resources.sliding-middle-out:hover:after {
	width: 100%;
	background: #7989FF ;
}
.resume.sliding-middle-out:hover:after {
	width: 100%;
	background: #70D507 ;
}


.ruth.sliding-middle-out:hover:after {
	width: 100%;
	background: #00E0EF ;
}

.subletinn.sliding-middle-out:hover:after {
	width: 100%;
	background: #215DBD;
}

.projects.sliding-middle-out:hover:after {
	width: 100%;
	background: #34DAAB;
}

p {
  font-family: "Raleway", Helvetica;
  line-height: 200%;
}

.explain p {
  text-align: justify;
  font-weight: 200;
  font-size: 1.3em;
}

.smallexplain p{
  text-align: center;
  font-weight: 200;
  font-size: 1.1em;
  line-height: 200%;
}

.bounce.logo{
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
}

.bounce.carrot{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
}

#projectslabel {
  max-width: none;
  width: 10em;
}
#aboutlabel {
  max-width: none;
  width: 7em;
}

#subletinnphoto {
  max-width: none;
  width: 5em;
}
